name: Docker Build

on:
  workflow_call:
    outputs:
      image_name:
        description: "Docker image name built"
        value: ${{ jobs.build.outputs.image_name }}
      tags:
        description: "All Docker tags built"
        value: ${{ jobs.build.outputs.tags }}
      digest:
        description: "Docker image SHA256 digest"
        value: ${{ jobs.build.outputs.digest }}

    inputs:
      image:
        required: true
        type: string
      tags: 
        required: true 
        type: string
      tag_prefix:
        required: false
        type: string
        default: ""
      tag_suffixes:
        description: "Comma-separated list of tag suffixes"
        required: false 
        type: string
        default: ""
      context:
        required: false
        type: string
        default: '.'
     
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_PASSWORD:
        required: true

jobs:
  build:
    runs-on: self-hosted
    concurrency: 
      group: ${{ github.workflow }}-${{ github.ref_name }}
      cancel-in-progress: true
    outputs:
      image_name: ${{ steps.tolower_image.outputs.lowercase }}
      tags: ${{ steps.generate_tags.outputs.all_tags }}
      digest: ${{ steps.docker_build.outputs.digest }}

    steps:
      - id: tolower_image
        uses: ASzc/change-string-case-action@v5
        with:
          string: ${{ inputs.image }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Generate tags
        id: generate_tags
        shell: bash
        run: |
          # Convert inputs to arrays
          IFS=',' read -r -a TAGS <<< "${{ inputs.tags }}"
          IFS=',' read -r -a SUFFIXES <<< "${{ inputs.tag_suffixes }}"
          [ ${#SUFFIXES[@]} -eq 0 ] && SUFFIXES=("")  # default empty suffix

          # Generate all tag combinations
          RESULT=()
          for TAG in "${TAGS[@]}"; do
            for S in "${SUFFIXES[@]}"; do
              RESULT+=("${{ steps.tolower_image.outputs.lowercase }}:${{ inputs.tag_prefix }}${TAG}${S}")
            done
          done

          # Output as comma-separated list (required for docker/metadata-action)
          echo "all_tags=$(IFS=, ; echo "${RESULT[*]}")" >> $GITHUB_OUTPUT

      - name: Docker metadata (labels)
        id: docker_metadata
        uses: docker/metadata-action@v5
        with:
          images: ${{ steps.tolower_image.outputs.lowercase }}
          tags: type=raw,value=${{ steps.generate_tags.outputs.all_tags }}
          flavor: latest=false

      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.context }}
          push: true
          tags: ${{ steps.generate_tags.outputs.all_tags }}
          labels: ${{ steps.docker_metadata.outputs.labels }}
