name: Docker Build

on:
  workflow_dispatch:
    inputs:
      image:
        required: true
        type: string
      tags: 
        required: true
        type: string
      tag_prefix:
        required: false
        type: string
        default: ""
      tag_suffixes:
        required: false 
        type: string
        default: ""
      context:
        required: false
        type: string
        default: '.'
jobs:
  build:
    runs-on: ubuntu-latest
    concurrency: 
      group: ${{ github.workflow }}-${{ github.ref_name }}
      cancel-in-progress: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Docker metadata (labels)
        id: docker_metadata
        uses: docker/metadata-action@v5
        with:
          images: ${{ inputs.image }}
          tags: |
            type=raw,enable=true,value=${{ inputs.tags }}
            type=raw,enable=true,suffix=${{ inputs.tag_suffixes }},value=${{ inputs.tags }}
          flavor: latest=false

      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.context }}
          push: true
          tags: ${{ steps.docker_metadata.outputs.tags }}
          labels: ${{ steps.docker_metadata.outputs.labels }}
