name: Release

on:
  push:
    branches: 
      - main

jobs:
  release:
    uses: cafe-chanta/workflows/.github/workflows/semantic_release.yaml@master
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}